/**** learnTrail CSS ****/
.learnTrailParagraph{
	margin-left: 10em;
	margin-right: 10em;
	margin-top: 5em;
	text-align: left;
}

#paragraphHead{
	text-align: center;
}
/**** END learnTrail CSS ****/

.optionInput {
	font-family: Courier, monospace;
	background-color: black;
	color: white;
	border: none;
}

.options{
	font-family: Courier, monospace;
	text-align: left;
	margin-left: 32em;
	margin-top: 5em;
}

.title{
	text-align: center;
	font-family: Rockwell, monospace;
}

.optionsList{
	margin-left: 1.5em; /* tabbed over */
}

.centerParagraph{
	margin-left: 25em;
	margin-right: 25em;
}

.spaceToContinue{
	text-align: center;
}

body{
	background-color: black;
	color: white;
}

.titleNormal{
	text-align: center;
	font-family: Courier, monospace;
}

p, tr, th, td{
	font-family: Courier, monospace;
}

table{
	width:33%;
	margin-left: 27em;
}

/* Row headings have space between itself and following row*/
tr, th{
	padding-bottom: 20px;
}

tr, th, td{
	width: auto;
	text-align: center;
}

.bordered{
	border: solid white 2px;
	margin-left: 32em;
	margin-right: 32em;
}

.negativeColor{
	color: black;
	background-color: white;
}

.middleParagraph{
	width:33%;
	margin-left: 27em;
}
