/**** learnTrail CSS ****/
.learnTrailParagraph{
	margin-left: 10em;
	margin-right: 10em;
	margin-top: 5em;
	text-align: left;
}

#paragraphHead{
	text-align: center;
}

.spaceToContinue{
	text-align: center;
}
/**** END learnTrail CSS ****/


/**** HOMESCREEN CSS ****/
#homescreenOptionsList{
	margin-left: 1.5em; /* tabbed over */
}

#homescreenOptions{
	font-family: Courier, monospace;
	text-align: left;
	margin-left: 32em;
	margin-top: 5em;
}

.title{
	text-align: center;
	font-family: Rockwell, monospace;
}
/**** END HOMESCREEN CSS ****/

.centerParagraph{
	margin-left: 25em;
	margin-right: 25em;

}

body{
	background-color: black;
	color: white;
}

p{
	font-family: Courier, monospace;
}