table{
	width:33%;
	margin-left: 27em;
}

/* Row headings have space between itself and following row*/
tr, th{
	padding-bottom: 20px;
}

tr, th, td{
	width: auto;
}

body{
	background-color: black;
	color: white;
}

/* Fonts for everything generic */
p, tr, th, td, .normalFont {
	font-family: Courier, monospace;
}

/* Everything that needs to be centered */
tr, th, td, .textAlignCenter, .title{
	text-align: center;
}

.learnTrailParagraph{
	margin-left: 10em;
	margin-right: 10em;
	margin-top: 5em;
}

.optionInput {
	background-color: black;
	color: white;
	border: none;
}

.options{
	margin-left: 32em;
}

.title{
	font-family: Rockwell, monospace;
}

.optionsList{
	margin-left: 1.5em; /* tabbed over */
}

.centerParagraph{
	margin-left: 25em;
	margin-right: 25em;
}

.bordered{
	border: solid white 2px;
	margin-left: 32em;
	margin-right: 32em;
}

.negativeColor{
	color: black;
	background-color: white;
}

.status{
	background-color: white;
	color: black;
	border: none;
	margin-right: 32em;
	margin-left: 32em;
	margin-bottom: .5em;
	padding-left: .5em;
}

.rest{
	background-color: black;
	color: white;
	border-color: white;
	border-style: solid;
	border-width: 5px;
	margin-right: 38em;
	margin-left: 38em;
}

.talk{
	margin-right: 32em;
	margin-left: 32em;
	margin-top: 30px;
}

.buy{
	margin-left: 39em;
	margin-top: 30px;
}

.cash{
	margin-left: 5em;
}

#ford {
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url("mainPages/trail/images/ford.png");
  margin-left: 350px;
  margin-top: 350px;
}

#riverCrossCanvas {
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: white;
  width: 1000px;
  height: 600px;
  background-image: url("mainPages/trail/images/riverCross.png");
}
