body{
	background-color: black;
	color: white;
}

p, .options, .optionInput, .status{
	font-family: Courier, monospace;
}

.optionInput{
	background-color: black;
	color: white;
	border: none;
}

.options{
	margin-left: 32em;
}

.title{
	text-align: center;
	font-family: Rockwell, monospace;
	margin-top: 10px;
}

.optionsList{
	margin-left: 1.5em;
}

.status{
	background-color: white;
	color: black;
	border: none;
    margin-right: 32em;
	margin-left: 32em;
	margin-bottom: 10px;
	padding-left: 10px
}